{% extends 'admin_base.html' %}
{% load static %}
{% block title %}POS{% endblock %}
    {% block style %}
    <style>
        #myTable_filter{
            margin-bottom: 2%;
        }
        #myTable_info{
            margin-top:2%;
        }
        #myTable_paginate{
            margin-top:2%;
        }
        th::before{
            content: none !important;
        }
        th::after {
            content: none !important;
        }
    </style>
    {% endblock %}
    
        {% block sidebar %}
       <!--sidebar-->
        <div class="sidebar" id="sidebar_nav" style="background-color:#FFFFFE;padding-left:1.5%;padding-right:1.5%;width:20%;">
            <div class="header-box py-2"> <!--logo-->
                <img src="{% static 'images/logo.png'%}" class="card-img-top" alt="...">
            </div>
                <ul class="nav nav-pills pt-4">
                    <li class="nav-item">
                        <a class="nav-link" id="user-profile" href="/Dashboard"><i class="fa fa-user fa-fw" aria-hidden="true" style="width:25%;text-align:left;"></i><span class="ms-1 d-none d-sm-inline" >Dashboard ></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="user-profile" href="/Add_client"><i class="fa fa-user fa-fw" aria-hidden="true" style="width:25%;text-align:left;"></i><span class="ms-1 d-none d-sm-inline" >Add Client Account ></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="user-profile" href="/Inquiry"><i class="fa fa-user fa-fw" aria-hidden="true" style="width:25%;text-align:left;"></i><span class="ms-1 d-none d-sm-inline" >Client Inquiry ></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="user-profile" href="/Inventory"><i class="fa fa-user fa-fw" aria-hidden="true" style="width:25%;text-align:left;"></i><span class="ms-1 d-none d-sm-inline" >Inventory ></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="user-profile" href="/POS"><i class="fa fa-user fa-fw" aria-hidden="true" style="width:25%;text-align:left;"></i><span class="ms-1 d-none d-sm-inline" >POS/Sales Report <</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="user-profile" href="#"><i class="fa fa-user fa-fw" aria-hidden="true" style="width:25%;text-align:left;"></i><span class="ms-1 d-none d-sm-inline" >Forecast ></span></a>
                    </li>
                    <!--dropdown-->
                    <li class="nav-item">
                        <!-- <div class="position-absolute bottom-0 start-0 pb-4" style="padding-left:1%;width:8%;">  -->
                        <a class="nav-link" href="#"><i class="fa fa-sign-out fa-fw" aria-hidden="true" style="width:25%;text-align:left;"></i><span class="ms-1 d-none d-sm-inline">Logout</span></a>
                        <!-- </div> -->
                    </li>
                </ul>
        </div>
        <!--sidebar-->
        {% endblock %}
        <!--content-->
        {% block content %}
        
            <div class="container-fluid" style="background-color:#D9D9D9;">
                <!-- Modal -->
    <div id="id01" class="w3-modal" style="display: none;">
        <div class="w3-modal-content" style="width: 50% !important; margin-top: -5em; margin-bottom: 1em;">
            <div class="w3-container" style="padding: 1em 1em 1em 1em;">
                <a href="/POS"><span class="w3-button w3-display-topright">&times;</span></a>
            <div style="margin-top: 1em !important; align-items: center; text-align: justify; padding: 1em;"> 
                <div class="border border">
                    <h3 class="text-center pt-3">Edit User</h3>
                    <form class="row justify-content-around" >
                        
                        <input type="hidden" name="uid" value="">
                        <div class="col-sm-10">
                            <div class="row my-3 pb-2 border shadow">
                                <div class="col-sm-12">
                                    <label for="" class="col-form-label">Full name</label>
                                </div>
                                <div class="col-sm-12 ">
                                    <input type="text" name="fullname" value="" class="form-control" aria-describedby="passwordHelpInline" required>
                                </div>
                            </div>
                            <div class="row my-3 pb-2 border shadow">
                                <div class="col-sm-12">
                                    <label for="" class="col-form-label">Email</label>
                                </div>
                                <div class="col-sm-12 ">
                                    <input type="text" name="email" value="" class="form-control" aria-describedby="passwordHelpInline" required>
                                </div>
                            </div>
                            <div class="row my-3 pb-2 border shadow">
                                <div class="col-sm-12">
                                    <label for="" class="col-form-label">Username</label>
                                </div>
                                <div class="col-sm-12 ">
                                    <input type="text" name="username" value=""  class="form-control" aria-describedby="passwordHelpInline" required>
                                </div>
                                <div class="col-auto" style="padding-top: 1%;">
                                    <span>Must be 8-20 characters long.</span>
                                </div>
                            </div>
                            <div class="row my-3 pb-2 border shadow">
                                <div class="col-sm-12">
                                    <label for="" class="col-form-label">Description</label>
                                </div>
                                <div class="col-sm-12 ">
                                    <input type="text" name="description" value="" class="form-control" aria-describedby="passwordHelpInline">
                                </div>
                            </div>
                            <div class="row pb-2 mb-2 border shadow">
                                <div class="col-sm-12">
                                    <label for="inputPassword6"  class="col-form-label">New password</label>
                                </div>
                                <div class="col-sm-12">
                                    <input type="password" onChange="verifyPassword()" name="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                                </div>
                                <div class="col-auto" style="padding-top: 1%;">
                                    <span>Must be 8-20 characters long and should contain atleast 1 letter, special character and number.</span>
                                </div>
                            </div>

                            <div class="row pb-2 mb-2 border shadow">
                                <div class="col-sm-12">
                                    <label for="inputPassword6"  class="col-form-label">Confirm New password</label>
                                </div>
                                <div class="col-sm-12">
                                    <input type="password" onChange="onChange()" name="confirm" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                                </div>
                                
                            </div>

                            <div class="row justify-content-md-center py-2 my-3" style="margin-bottom: -0.4em !important;">
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>

   
    <!-- Modal -->
                <div class="row mx-auto mt-5" style="width:95%">
                    <div class="row justify-content-md-center" style="margin-top: 5%;">
                        <div class="col-md-auto rounded border w-100 p-5"style="background-color:white">
                            <table class="table table-responsive text-center" id="myTable">
                                <thead>
                                    <tr style="background-color: #83CFBC;">
                                        <th class="text-center" scope="col">Receipt No.</th>
                                        <th class="text-center" scope="col">Customer Name</th>
                                        <th class="text-center" scope="col">Staff Name</th>
                                        <th class="text-center" scope="col">Date</th>
                                        <th class="text-center" scope="col">Transaction</th>
                                    </tr>
                                </thead>
                                <tbody class="border shadow">
                                    {% for id in transaction_details %}
                                    <tr class="text-center">
                                    <td scope="row">{{id.receipt_id}}</td>
                                    <td class="pt-2">{{id.customer}}</td>
                                    <td class="pt-2">{{id.staff}}</td>
                                    <td class="pt-2">{{id.date}}</td>
                                    <td class="pt-2"><button onclick="document.getElementById('id01').style.display='block'">View Transactions</button></td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
        <!--content-->
        {% block datatable %} 
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <link  href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />
        <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" ></script>
        <script>
            $(document).ready( function () {
            $('#myTable').DataTable({
                
            });
        } );
        </script>
        {% endblock %}