{% extends 'admin_base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block sidebar %}
       <!--sidebar-->
       <div class="sidebar" id="sidebar_nav" style="background-color:#FFFFFE;padding-left:1.5%;padding-right:1.5%;width:20%;">
        <div class="header-box py-2"> <!--logo-->
          <img src="{% static 'images/logo.png'%}" class="card-img-top" alt="...">
        </div>
            <ul class="nav nav-pills pt-4">
              <li class="nav-item">
                <a class="nav-link active" id="user-profile" href="/Dashboard"><i class="fa fa-user fa-fw" aria-hidden="true" style="width:25%;text-align:left;"></i><span class="ms-1 d-none d-sm-inline" >Dashboard ></span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="user-profile" href="/Add_client"><i class="fa fa-user fa-fw" aria-hidden="true" style="width:25%;text-align:left;"></i><span class="ms-1 d-none d-sm-inline" >Add User Account < </span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="user-profile" href="/Inquiry"><i class="fa fa-user fa-fw" aria-hidden="true" style="width:25%;text-align:left;"></i><span class="ms-1 d-none d-sm-inline" >Client Inquiry ></span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="user-profile" href="/Inventory"><i class="fa fa-user fa-fw" aria-hidden="true" style="width:25%;text-align:left;"></i><span class="ms-1 d-none d-sm-inline" >Inventory ></span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="user-profile" href="/POS"><i class="fa fa-user fa-fw" aria-hidden="true" style="width:25%;text-align:left;"></i><span class="ms-1 d-none d-sm-inline" >POS/Sales Report ></span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="user-profile" href="/Forecast"><i class="fa fa-user fa-fw" aria-hidden="true" style="width:25%;text-align:left;"></i><span class="ms-1 d-none d-sm-inline" >Forecast ></span></a>
              </li>
              <!--dropdown-->
              <li class="nav-item">
                  <!-- <div class="position-absolute bottom-0 start-0 pb-4" style="padding-left:1%;width:8%;">  -->
                  <a class="nav-link" href="/Logout"><i class="fa fa-sign-out fa-fw" aria-hidden="true" style="width:25%;text-align:left;"></i><span class="ms-1 d-none d-sm-inline">Logout</span></a>
                  <!-- </div> -->
              </li>
            </ul>
      </div>
        <!--sidebar-->
{% endblock %}
{% block content %}
<!--content-->
<div class="container-fluid" style="background-color:#C8C6C6;">
    <div class="row mx-auto mt-5" style="width:95%">
        <div class="row justify-content-md-center w-75 mx-auto" style="margin-top: 8%;">
            <div class="col-sm-12" style="background-color:#83CFBC;border-radius: 50px 50px 5px 5px;">
                <span style="color:#83CFBC">q</span>
            </div>
            <div class="col-sm-12 py-3" style="background-color:#D9D9D9">
                <h3>Hello, Welcome back Admin</h3>
            </div>
            <div class="col-sm-4 bg-white pt-3">
                <a href="/Add_client"><img src="{% static 'images/registration.JPG'%}"></a>
            </div>
            <div class="col-sm-4 bg-white pt-3">
                <a href="/Inventory"><img src="{% static 'images/inventory.JPG'%}"></a>
            </div>
            <div class="col-sm-4 bg-white pt-3">
                <a href="/Inquiry"><img src="{% static 'images/inquiry.JPG'%}"></a>
            </div>
            <div class="row justify-content-md-center py-3 bg-white" style="border-radius: 5px 5px 50px 50px;">
                <div class="col-sm-4 bg-white">
                    <a href="/POS"><img src="{% static 'images/sales.JPG'%}"></a>
                </div>
                <div class="col-sm-4 bg-white">
                    <a href="/Forecast"><img src="{% static 'images/forecast.JPG'%}"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--content-->
{% endblock %}
